main{
    padding:20px;
}

.container{
    border: tomato;
    border-style: solid;
}

.header{
    display: flex;
    justify-content: space-between;
    color: blue;
}

.page{
    text-align: center;
    padding: 10px;
    margin: 50px;
}

h1{
    font-size: 50px;
    padding: 20px;
}

p{
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
    background-color: purple;
    color: white;
    padding: 15px;
    font-size: 20px;
}

#options {
    display: flex;
    flex-direction: column;
}

#high-score-list {
    background-color: peachpuff;
    padding: 5px 0px 5px 40px;
    font-size: 25px;
    text-align: left;
}
